@import './../../../styles/theme.scss';

.profile-info {
    position: relative;
    min-height: 500px;
    height: 600px;
    overflow: hidden;
    height: 550px;

    &::before {
        content: '';
        background-image: url('./../../../../public/about-us.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(30px);
        z-index: 0;
    }

    &>* {
        position: relative;
        z-index: 1;
    }

    .image-container {
        height: 400px;

        img {
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .dark-background {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        padding: 5px 15px;
        border-radius: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .last-login {
        p {
            font-size: 12px;

            i-feather {
                height: 15px;
                width: 15px;
            }
        }
    }

    .profile-section-card {
        z-index: 99999;

    }

}

.detail-box{
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 10px;
    p{
        font-size: 14px;
    }
    h5{
        font-size: 17px;
    }
}

.big-feather-icon {
    fill: none !important;
    color: $primary-color !important;
    stroke-width: 1px;
    height: 50px !important;
    width: 50px !important;
}


.profile-container {
    height: 175px;
    // width: 155px;

    img {
        border-radius: 10px;
    }
}

.bg-dark {
    background-color: $accent-color !important;
}

.big-heart {
    fill: none !important;
    color: $primary-color !important;
    stroke-width: 1px;
}

.all-image-container {
    height: 250px;
    width: 100%;

    img {
        object-fit: cover;
        border-radius: 15px;
        border: 7px solid #d7e3ff !important;
    }
}