<section class="profile-info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row py-5">
                    <div class="col-md-4">
                        <div class="image-container">
                            <img class="h-100 w-100" [src]="profileDetails?.profilePhoto ||  'about-us.jpg'" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="d-flex justify-content-between align-items-center text-white">
                                <div class="dark-background">
                                    <i-feather name="heart" class="new-likes me-1"></i-feather>
                                    <span>108</span>
                                </div>
                                <div class="dark-background">
                                    <i-feather name="more-vertical" class="new-likes me-1"></i-feather>
                                </div>
                            </div>
                            <div class="text-white">
                                <div class="d-flex justify-content-between align-items-center text-white">
                                    <div class="">
                                        <div class="d-flex align-items-center">
                                            <h2 class="me-2 mb-0">{{profileDetails?.firstName}}
                                                {{profileDetails?.lastName}}</h2>
                                            <h1 class="mb-0 fw-light">{{'30'}}</h1>
                                        </div>
                                        <h6 class="fw-normal mb-3">{{'profile?.designation'}}</h6>
                                        <div class="d-flex align-items-center last-login">
                                            <p class="dark-background me-2 mb-0">
                                                Last login:Today
                                            </p>
                                            <p class="dark-background mb-0">
                                                <i-feather name="image" class="new-likes me-1 mb-1"></i-feather><span>3
                                                    Photo(s)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn-gradient text-white shadow me-2" mat-raised-button
                                            (click)="handleMessage()">
                                            <i-feather name="message-square" class="new-likes me-1"></i-feather>Message
                                        </button>
                                        <button class="btn-gradient text-white shadow" mat-raised-button>
                                            <i-feather name="heart" class="new-likes me-1"></i-feather>Like
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="profile-section-card">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <mat-card appearance="raised" class="w-100 shadow p-3 mt-3 mb-5">
                            <mat-card-content class="">
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-7 col-xl-8 mb-3 mb-lg-0">
                                        <mat-card appearance="outlined" class="w-100 inner-card p-3 mb-3">
                                            <mat-card-content>
                                                <p class="mb-2 text-secondary">I spend my free time…</p>
                                                <h5 class="mb-5">
                                                    I like traveling, reading, eating and shopping
                                                </h5>
                                            </mat-card-content>
                                            <mat-card-footer class="text-end">
                                                <button mat-mini-fab aria-label="Example icon button with a menu icon">
                                                    <i-feather name="heart" class=""></i-feather>
                                                </button>
                                            </mat-card-footer>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-3 mb-3">
                                            <mat-card-header>
                                                <h6 class="mb-5 text-uppercase text-secondary">
                                                    Interests and Hobbies
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    <mat-chip>Cooking</mat-chip>
                                                    <mat-chip>Going Out</mat-chip>
                                                    <mat-chip>History</mat-chip>
                                                    <mat-chip>Music</mat-chip>
                                                    <mat-chip>Reading</mat-chip>
                                                    <mat-chip>Sports</mat-chip>
                                                    <mat-chip>Wellness</mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-3 mb-3">
                                            <mat-card-header>
                                                <h6 class="mb-5 text-uppercase text-secondary">
                                                    Sports
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    <mat-chip>Cycling</mat-chip>
                                                    <mat-chip>Hiking</mat-chip>
                                                    <mat-chip>Jogging</mat-chip>
                                                    <mat-chip>Yoga</mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <div class="all-image-container">
                                                    <img class="h-100 w-100" src="about-us.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="all-image-container">
                                                    <img class="h-100 w-100" src="about-us.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <mat-card appearance="outlined" class="w-100 inner-card p-3 mb-3">
                                            <mat-card-header>
                                                <h6 class="mb-5 text-uppercase text-secondary">
                                                    Travelling
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    <mat-chip class="mb-2">All Inclusive Trips</mat-chip>
                                                    <mat-chip class="mb-2">Beach Trips</mat-chip>
                                                    <mat-chip class="mb-2">City Trips</mat-chip>
                                                    <mat-chip class="mb-2">Cruises</mat-chip>
                                                    <mat-chip class="mb-2">Hiking Trips</mat-chip>
                                                    <mat-chip class="mb-2">Meditation/Yoga Retreats</mat-chip>
                                                    <mat-chip class="mb-2">Mountains Trips</mat-chip>
                                                    <mat-chip class="mb-2">Spa/Wellness Trips</mat-chip>
                                                    <mat-chip class="mb-2">Staycation</mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-12 col-lg-5 col-xl-4">
                                        <mat-card appearance="outlined" class="w-100 mb-3 inner-card bg-dark p-3">
                                            <mat-card-header>
                                                <h4 class="mb-4 text-primary text-center">
                                                    What makes you compatible?
                                                </h4>
                                            </mat-card-header>
                                            <mat-card-content class="px-0">
                                                <div class="d-flex">
                                                    <div class="profile-container me-2">
                                                        <img class="h-100 w-100" src="about-us.jpg" alt="">
                                                    </div>
                                                    <div class="profile-container">
                                                        <img class="h-100 w-100" src="about-us.jpg" alt="">
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card bg-dark p-3">
                                            <mat-card-content>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Gender</p>
                                                        <h5>Woman</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">City of residence</p>
                                                        <h5>Hong Kong, HK</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Body type</p>
                                                        <h5>5' 7"</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Ethnicity</p>
                                                        <h5>Indian</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Highest degree</p>
                                                        <h5>University/college degree(s)</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Languages</p>
                                                        <h5>English, Marathi, Hindi</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Smoking habits</p>
                                                        <h5>Non-smoker</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Workout frequency</p>
                                                        <h5>Several times a week</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Marital status</p>
                                                        <h5>Single</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Children</p>
                                                        <h5>No children</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Wish for children</p>
                                                        <h5>Yes, I want children</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Religion</p>
                                                        <h5>Unitarian Universalism</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2">
                                                    <div class="col-4">
                                                        <i-feather name="heart" class="big-heart me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="mb-1 text-secondary">Political view</p>
                                                        <h5>Libertarian</h5>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>