<section class="register-section">
    <div class="container-fluid px-0 h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8 h-100 px-0">
            </div>
            <div class="col-md-4 px-0 h-100">
                <mat-card class="card px-4 py-5 h-100 align-items-center justify-content-start" appearance="outlined">
                    <mat-card-header class="w-100 mb-3">
                        <h3>This Profile is for</h3>
                    </mat-card-header>
                    <mat-card-content class="w-100">
                        <div>
                            <mat-stepper class="bg-transparent" [linear]="true" #stepper>
                                <mat-step [stepControl]="firstFormGroup">
                                    <form [formGroup]="firstFormGroup">
                                        <ng-template matStepLabel>Registering For</ng-template>
                                        <div class="row justify-content-center align-items-center mb-3">
                                            <mat-chip-listbox class="mat-mdc-chip-set-stacked" selectable="true"
                                                aria-label="Browse your choice">
                                                <ng-container *ngFor="let acc of accFor">
                                                    <mat-chip-option class="me-2 w-auto mb-2"
                                                        (click)="onSelectionChange(acc)"
                                                        [value]="acc">{{acc}}</mat-chip-option>
                                                </ng-container>
                                            </mat-chip-listbox>
                                        </div>
                                        <div class="mb-2">
                                            <mat-radio-group aria-label="Select gender" formControlName="gender">
                                                <mat-radio-button value="Male">Male</mat-radio-button>
                                                <mat-radio-button value="Female">Female</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div>
                                            <button mat-button matStepperNext>Next</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]="secondFormGroup" label="Personal Details">
                                    <form [formGroup]="secondFormGroup">
                                        <div>
                                            <mat-label>First Name </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your first name"
                                                    formControlName="firstName">
                                                <!-- <mat-icon matSuffix> email</mat-icon> -->
                                                <mat-error
                                                    *ngIf="secondFormGroup.get('firstName')?.hasError('required')">
                                                    First Name is required
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="secondFormGroup.get('firstName')?.hasError('pattern')">
                                                    First Name must only contain letters and spaces (e.g., John Doe)
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Last Name </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your last name"
                                                    formControlName="lastName">
                                                <!-- <mat-icon matSuffix> email</mat-icon> -->
                                                <mat-error
                                                    *ngIf="secondFormGroup.get('lastName')?.hasError('required')">
                                                    Last Name is required
                                                </mat-error>
                                                <mat-error *ngIf="secondFormGroup.get('lastName')?.hasError('pattern')">
                                                    Last Name must only contain letters and spaces (e.g., Jane Doe)
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Date of Birth </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput [max]="maxDate" [matDatepicker]="datepicker"
                                                    formControlName="dob" />
                                                <mat-datepicker-toggle matIconSuffix
                                                    [for]="datepicker"></mat-datepicker-toggle>
                                                <mat-datepicker #datepicker> </mat-datepicker>
                                                <mat-error *ngIf="secondFormGroup.get('dob')?.hasError('required')">
                                                    Date of Birth is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button mat-button matStepperPrevious>Back</button>
                                            <button mat-button matStepperNext>Next</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step>
                                    <form [formGroup]="religionFormGroup">
                                        <ng-template matStepLabel>Religion</ng-template>
                                        <div>
                                            <mat-label>Your Religion</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-select formControlName="religion">
                                                    @for (rel of religion; track rel) {
                                                    <mat-option [value]="rel.name">{{rel.name}}</mat-option>
                                                    }
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="religionFormGroup.get('religion')?.hasError('required')">
                                                    Please select Religion
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Community</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-select formControlName="motherTongue">
                                                    @for (com of community; track com) {
                                                    <mat-option [value]="com">{{com}}</mat-option>
                                                    }
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="religionFormGroup.get('motherTongue')?.hasError('required')">
                                                    Please select Community
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Country</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-select formControlName="country">
                                                    @for (con of country; track con) {
                                                    <mat-option [value]="con">{{con}}</mat-option>
                                                    }
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="religionFormGroup.get('country')?.hasError('required')">
                                                    Please select Country
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext
                                            [disabled]="religionFormGroup.invalid">Next</button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Phone</ng-template>
                                    <form [formGroup]="phoneFormGroup">
                                        <div>
                                            <mat-label>Email </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your email" formControlName="email">
                                                <mat-icon matSuffix> email</mat-icon>
                                                <mat-error *ngIf="phoneFormGroup.get('email')?.hasError('required')">
                                                    Email is required.
                                                </mat-error>
                                                <mat-error *ngIf="phoneFormGroup.get('email')?.hasError('email')">
                                                    Please enter a valid email address.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Telephone</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <span matTextPrefix>+1 &nbsp;</span>
                                                <input type="tel" matInput placeholder="555-555-1234"
                                                    formControlName="mobile">
                                                <mat-icon matSuffix> phone</mat-icon>
                                                <mat-error *ngIf="phoneFormGroup.get('mobile')?.hasError('required')">
                                                    Mobile number is required.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="phoneFormGroup.get('mobile')?.hasError('invalidMobile')">
                                                    Please enter a valid 10-digit mobile number.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Password</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input type="text" matInput placeholder="password"
                                                    formControlName="password">
                                                <mat-icon matSuffix> eye</mat-icon>
                                                <mat-error *ngIf="phoneFormGroup.get('password')?.hasError('required')">
                                                    Password is required.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="phoneFormGroup.get('password')?.hasError('minlength')">
                                                    Password must be at least 8 characters long.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="phoneFormGroup.get('password')?.hasError('weakPassword')">
                                                    Password must contain at least one uppercase letter, one lowercase
                                                    letter, and one number.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext
                                            [disabled]="phoneFormGroup.invalid">Next</button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Personality Profile</ng-template>
                                    <form [formGroup]="personalityProfileFormGroup">
                                        <div>
                                            <mat-label>Searching For </mat-label><br />
                                            <div class="mb-2">
                                                <mat-radio-group aria-label="Searching For"
                                                    formControlName="searchingFor">
                                                    <mat-radio-button class="me-2" value="Male">Male</mat-radio-button>
                                                    <mat-radio-button class="me-2"
                                                        value="Female">Female</mat-radio-button>
                                                    <mat-radio-button value="Transgender">Transgender</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div>
                                            <mat-label>Height (in ft)</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter height" formControlName="height">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Weight (in Kg)</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter Weight" formControlName="weight">
                                            </mat-form-field>
                                        </div>
                                    </form>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Skip</button>
                                        <button mat-button matStepperNext
                                            [disabled]="personalityProfileFormGroup.invalid">Next</button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Personality Profile</ng-template>
                                    <form [formGroup]="personalityProfileFormGroup">
                                        <div>
                                            <mat-label>Education</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter education"
                                                    formControlName="education">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Hobbies</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter hobbies" formControlName="hobbies">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Occupation</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter occupation"
                                                    formControlName="designation">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Biodata</mat-label><br />

                                            <ngx-file-drop [accept]="'.jpg, .jpeg, .png, .pdf, .doc, .docx'"
                                                [dropZoneLabel]="'Drag and drop your biodata file here'"
                                                (onFileDrop)="onFileDrop($event)"
                                                [ngClass]="{
                                                    'is-invalid': personalityProfileFormGroup.get('biodata')?.invalid && personalityProfileFormGroup.get('biodata')?.touched
                                                  }">
                                            </ngx-file-drop>

                                            <!-- Fallback for file input -->
                                            <input type="file" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx" #fileInput
                                                (change)="onFileSelect($event)" style="display: none;" />
                                            <button mat-button (click)="fileInput.click()">Choose File</button>


                                            <div *ngIf="personalityProfileFormGroup.get('biodata')?.invalid && personalityProfileFormGroup.get('biodata')?.touched"
                                                class="error">
                                                {{ personalityProfileFormGroup.get('biodata')?.errors?.['invalidFileType'] }}
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button (click)="handleSubmit()">Submit</button>
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>