<section class="register-section">
    <div class="container-fluid px-0 h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8 h-100 px-0">
            </div>
            <div class="col-md-4 px-0 h-100">
                <mat-card class="card px-4 py-5 h-100 align-items-center justify-content-start" appearance="outlined">
                    <mat-card-header class="w-100 mb-3">
                        <h3>This Profile is for</h3>
                    </mat-card-header>
                    <mat-card-content class="w-100">
                        <div>
                            <mat-stepper class="bg-transparent" [linear]="false" #stepper>
                                <mat-step [stepControl]="firstFormGroup">
                                    <form [formGroup]="firstFormGroup">
                                        <ng-template matStepLabel>Registering For</ng-template>
                                        <div class="row justify-content-center align-items-center mb-3">
                                            <mat-chip-listbox class="mat-mdc-chip-set-stacked" selectable="true"
                                                aria-label="Browse your choice">
                                                <ng-container *ngFor="let acc of accFor">
                                                    <mat-chip-option class="me-2 w-auto mb-2"
                                                        (click)="onSelectionChange(acc)"
                                                        [value]="acc">{{acc}}</mat-chip-option>
                                                </ng-container>
                                            </mat-chip-listbox>
                                        </div>
                                        <div class="mb-2" *ngIf="accForSelected == 'Myself' || 
                                            accForSelected == 'My Relative'|| 
                                            accForSelected == 'My Friend'">
                                            <mat-radio-group aria-label="Select gender">
                                                <mat-radio-button value="Male">Male</mat-radio-button>
                                                <mat-radio-button value="Female">Female</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div>
                                            <button mat-button matStepperNext>Next</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]="secondFormGroup" label="Personal Details">
                                    <form [formGroup]="secondFormGroup">
                                        <div>
                                            <mat-label>First Name </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your first name"
                                                    formControlName="firstName">
                                                <!-- <mat-icon matSuffix> email</mat-icon> -->
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Last Name </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your last name"
                                                    formControlName="lastName">
                                                <!-- <mat-icon matSuffix> email</mat-icon> -->
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Date of Birth </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your dob" formControlName="dob">
                                                <!-- <mat-icon matSuffix> email</mat-icon> -->
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button mat-button matStepperPrevious>Back</button>
                                            <button mat-button matStepperNext>Next</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Religion</ng-template>
                                    <div>
                                        <mat-label>Your Religion</mat-label><br />
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select>
                                                @for (rel of religion; track rel) {
                                                <mat-option [value]="rel.name">{{rel.name}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-label>Community</mat-label><br />
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select>
                                                @for (com of community; track com) {
                                                <mat-option [value]="com">{{com}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-label>Country</mat-label><br />
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select>
                                                @for (con of country; track con) {
                                                <mat-option [value]="con">{{con}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Phone</ng-template>
                                    <form [formGroup]="phoneFormGroup">
                                        <div>
                                            <mat-label>Email </mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput placeholder="Enter your email" formControlName="email">
                                                <mat-icon matSuffix> email</mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-label>Telephone</mat-label><br />
                                            <mat-form-field appearance="outline" class="w-100">
                                                <span matTextPrefix>+1 &nbsp;</span>
                                                <input type="tel" matInput placeholder="555-555-1234"
                                                    formControlName="phone">
                                                <mat-icon matSuffix> phone</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button>Submit</button>
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>