@import '../../../styles/theme.scss';

.footer-content {
    list-style: none;
    padding-left: 0px;

    li {
        color: $primary-color;
        font-weight: 500;
        // margin-bottom: 0.4rem;
        padding: 5px 15px;
        font-size: 15px;
        cursor: pointer;

        transition: transform 0.5s ease;

        &:hover {
            padding: 5px 15px;
            background-color: $primary-color;
            color: $accent-color;
            transform: scale(1.1);
        }
    }
}

.footer {
    .icon-container {
        height: 40px;
        width: 40px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35%;
        color: $accent-color;
        cursor: pointer;

        transition: background-color 0.3s ease;

        svg {
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .icon-text {
        font-weight: 500;
        font-size: 15px;
    }

}