<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
        <a class="navbar-brand me-0" href="/">
            <div class="logo-container">
                <img src="logo-removebg-preview.png" alt="Logo" class="w-100 h-100">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mx-auto   mb-lg-0">
                @for (menu of menus; track menu;){
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="[menu.route]">{{menu.name}}</a>
                </li>
                }
            </ul>
            <button *ngIf="!isLogin" [routerLink]="['/login']" class="" mat-flat-button>Login Profile</button>
            <div *ngIf="isLogin" class="avtar-container pointer" routerLink="/profile-details">
                <img [src]="user.profilePhoto || 'avtar.avif'" alt="">
            </div>
        </div>
    </div>
</nav>