<section class="py-5">
    <div class="container main-content">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-10">
                <mat-card appearance="raised" class="offer-card">
                    <mat-card-content>
                        <div class="row align-items-center">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <mat-card appearance="raised" class="days-card border-0">
                                    <mat-card-content class="text-center">
                                        <p class="mb-0">This offer is only valid</p>
                                        <h5>4 days</h5>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-4 text-center mb-3 mb-md-0">
                                <h4>Our Welcome Offer</h4>
                            </div>
                            <div class="col-md-4 text-center text-md-start">
                                <h3>35% off</h3>
                                <p class="mb-0">on all Premium Memberships</p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <h3 class="mb-5">Select your Premium Membership</h3>
            <div class="col-lg-10">
                <div class="row align-items-center mb-5">
                    @for (plan of plans; track $index) {
                    <div class="col-md-4 mb-5 mb-md-0">
                        <mat-card appearance="raised" class="subscription-card shadow" [ngClass]="{ 'most-popular': $index === 1 }">
                            <mat-card-header class="p-4 justify-content-center">
                                <h4 class="mb-0 fw-light">{{plan.name}}</h4>
                            </mat-card-header>
                            <mat-card-content class="text-start p-3 py-4">
                                <h6 class="fw-semibold text-center">3 Months Plan</h6>
                                <mat-list>
                                    @for (feature of plan.features; track feature) {
                                    <mat-list-item>
                                        <mat-icon class="check-circle" matListItemIcon>check_circle</mat-icon>
                                        <div matListItemTitle>{{feature}}</div>
                                    </mat-list-item>
                                    }
                                </mat-list>
                                <div class="text-center">
                                    <h1 class="text-danger mb-3">₹{{plan.price}}<sub>/ 3 months</sub></h1>
                                    <button class="btn btn-success rounded-pill px-4 mb-2 d-flex align-items-center mx-auto" (click)="proceedToCheckout(plan)">Select
                                        <mat-icon>keyboard_arrow_right</mat-icon></button>
                                </div>
                            </mat-card-content>
                            <div *ngIf="$index === 1" class="most-popular-text">
                                <span>Most popular</span>
                            </div>
                        </mat-card>
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <mat-card appearance="outlined" class="detailed-card border-0 p-2 h-100">
                            <mat-card-content class="text-center">
                                <mat-icon>lock</mat-icon>
                                <p class="fw-semibold">The #1 trusted dating site</p>
                                <p class="text-secondary mb-0">2018 Survey of 1,616 U.S Singles</p>

                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <mat-card appearance="outlined" class="detailed-card border-0 p-2 h-100">
                            <mat-card-content class="text-center">
                                <mat-icon>lock</mat-icon>
                                <p class="fw-semibold">Every 14 minutes, someone finds love on dating</p>
                                <p class="text-secondary mb-0">dating user data</p>

                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <mat-card appearance="outlined" class="detailed-card border-0 p-2 h-100">
                            <mat-card-content class="text-center">
                                <mat-icon>lock</mat-icon>
                                <p class="fw-semibold">Highest quality dating pool</p>
                                <p class="text-secondary mb-0">2018 Survey of 1,616 U.S Singles</p>

                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="mt-5 mb-4">Angular 18 Stripe Payment Gateway Example</h2>
        <div class="col-md-5 mb-2">
            <button (click)="makePayment(15)" class="btn btn-danger btn-block">Pay $15</button>
        </div>
        <div class="col-md-5 mb-2">
            <button (click)="makePayment(25)" class="btn btn-primary btn-block">Pay $25</button>
        </div>
        <div class="col-md-5">
            <button (click)="makePayment(35)" class="btn btn-success btn-block">Pay $35</button>
        </div>
    </div>
</section>