<div class="profile-container rounded-5 position-relative">
    <img class="h-100 w-100 rounded-5 blur-image" [src]="profile?.image || profile?.profilePhoto || 'about-us.jpg'"
        alt="">
    <div class="top-overlay-content">
        <div class="d-flex justify-content-between align-items-center">
            <mat-icon class="me-1" [color]="profile.isLiked || profile?.isFavorited ? 'warn' : 'default'">favorite</mat-icon>
            <span>{{profile?.likes || 0}}</span>
        </div>
        <i-feather [name]="isBookmarked ? 'bookmark' : 'bookmark'" class="new-likes me-2"
            [ngClass]="{ 'filled': isBookmarked }" (click)="handleBookmark()"></i-feather>
    </div>
    <div class="overlay-content">
        <div class="">
            <h3 class="me-2 mb-0">{{profile?.name || profile?.firstName +' '+ profile?.lastName}}</h3>
            <h4 class="mb-0 fw-light">{{profile?.age}}</h4>
        </div>
        <h6 class="fw-normal mb-3">{{profile?.designation || ''}}</h6>
        <span class="">Profile Match : {{profile.profileMatch}} %</span>
    </div>
</div>