.profile-container {
    height: 500px;
    overflow: hidden;
}

.blur-image {
    filter: blur(8px);
    transition: filter 0.3s ease;
}

// .profile-container:hover .blur-image {
//     filter: blur(0);
// }

.top-overlay-content {
    position: absolute;
    top: 3%;
    // left: 5%;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 5px 15px;
    // border-radius: 20px;
    // background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
        background: rgba(0, 0, 0, 0.6);
        padding: 5px 15px;
        border-radius: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

.overlay-content {
    position: absolute;
    top: 85%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: start;
    z-index: 1;
    width: 100%;
}

.overlay-content i {
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}