// $primary-color: #E63250;
// $accent-color: #EE6E55;
// $secondary-color: #752472;
// $light-grey-color: #dbd9d9;
// $dark-color: #333;
// // $gradient-background: linear-gradient(to right, $primary-color, $accent-color);
// $gradient-background: linear-gradient(45deg, $primary-color, $accent-color);

$primary-color: #005cbb;
$accent-color: #d7e3ff;
$secondary-color: #752472;
$light-grey-color: #dbd9d9;
$dark-color: #333;
$white: #fff;
$black: #000;
$gradient-background: linear-gradient(45deg, $primary-color, $accent-color);
$gradient-background-right: linear-gradient(45deg, $accent-color, $primary-color);