<section class="login-section">
    <div class="container-fluid px-0 h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8 d-none d-md-block h-100 px-0">
            </div>

            <!-- Right column: login form -->
            <div class="col-12 col-md-4 px-0 h-100 d-flex align-items-center justify-content-center">
                <mat-card class="card p-3 w-100 mx-3" appearance="outlined">
                    @if(!isReset){
                    <mat-card-header>
                        <h2 class="text-center w-100">Enter your email</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="emailForm" (ngSubmit)="handleEmailSubmit()">
                            <div class="mb-3">
                                <mat-label>Email</mat-label><br />
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Enter your email" formControlName="email" />
                                    <mat-error *ngIf="emailForm.get('email')?.touched">
                                        Email is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <button type="submit" [disabled]="emailForm.invalid" class="w-100" mat-flat-button
                                    color="primary">Submit</button>
                            </div>
                            <div class="text-center">
                                <p><a class="me-3 text-decoration-none" [routerLink]="['/login']">Sign In</a></p>
                            </div>
                        </form>
                    </mat-card-content>
                    }
                    @if(isReset){
                    <mat-card-header>
                        <h2 class="text-center w-100">Reset Password</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="handleReset()">
                            <div class="mb-3">
                                <mat-label>Password</mat-label><br />
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Enter your password"
                                        [type]="hide() ? 'password' : 'text'" formControlName="password" />
                                    <button mat-icon-button matSuffix (click)="clickEvent($event)"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="resetPasswordForm.get('password')?.touched">
                                        Password is required
                                    </mat-error>
                                    <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
                                        Password at least contains 6 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <mat-label>Confirm Password</mat-label><br />
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Confirm your password"
                                        [type]="hideConfirm() ? 'password' : 'text'"
                                        formControlName="confirmPassword" />
                                    <button mat-icon-button matSuffix (click)="clickCFEvent($event)"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm()">
                                        <mat-icon>{{ hideConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched">
                                        Passwords do not match
                                    </mat-error>
                                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.touched">
                                        Confirm Password is required
                                    </mat-error>
                                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['minlength']">
                                        Password at least contains 6 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="text-center mb-2">
                                <button type="submit" class="px-5 w-100" mat-flat-button
                                    [disabled]="resetPasswordForm.invalid">Reset</button>
                            </div>
                            <div class="text-center">
                                <p><a class="me-3 text-decoration-none" [routerLink]="['/login']">Sign In</a></p>
                            </div>
                        </form>
                    </mat-card-content>
                    }
                </mat-card>
            </div>
        </div>
    </div>
</section>