@import '../../../../styles/theme.scss';

.login-section {
  height: 100vh;
  background-image: url('../../../../../public/reset-pass.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .card {
    background-color: $accent-color;
    z-index: 2;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 0px;

    a {
      color: $primary-color;
      font-size: 13px;
      font-weight: 500;
    }

    p {
      font-size: 13px;
    }
  }

  // 🔽 Responsive styles
  @media (max-width: 768px) {
    .card {
      border-radius: 20px !important;
      margin: 20px;
    }

    .container-fluid {
      padding: 0 1rem;
    }

    mat-card {
      width: 100%;
    }

    mat-card-header h3 {
      font-size: 1.5rem;
      text-align: center;
    }

    mat-form-field {
      width: 100%;
    }

    button[type="submit"] {
      width: 100%;
    }

    .text-center {
      padding: 0 0.5rem;
    }
  }
}
