@import './../../../../styles/theme.scss';

.image-container {
    height: 185px;
    width: 185px;
    // position: absolute;
    // top: -116px;
    // bottom: 0;
    // right: -62px;
    // z-index: 99;

    img {
        object-fit: cover;
        border: 5px solid $accent-color;
    }
}

.bg-dark {
    background-color: $accent-color !important;
}

.detail-box{
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 10px;
    p{
        font-size: 14px;
    }
    h5{
        font-size: 17px;
    }
}

.big-feather-icon {
    fill: none !important;
    color: $primary-color !important;
    stroke-width: 1px;
    height: 50px !important;
    width: 50px !important;
}

.text-preference {
    font-size: 17px;
}

.all-image-container {
    height: 250px;
    width: 100%;

    img {
        object-fit: cover;
        border-radius: 15px;
        border: 7px solid #d7e3ff !important;
    }
}

.upload-area {
    border: 2px dashed #bbb;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    transition: border-color 0.3s;
    position: relative;
  
    &.dragging {
      border-color: #8a2be2;
      background: #f9f3ff;
    }
  
    .browse {
      color: #6f42c1;
      cursor: pointer;
      text-decoration: underline;
    }
  
    .error {
      color: red;
      margin-top: 1rem;
    }
  
    .preview {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  
      .file {
        margin-right: 10px;
        text-align: center;
  
        img {
          max-width: 80px;
          max-height: 80px;
          border-radius: 8px;
          margin-bottom: 5px;
        }
        .small-text{
            font-size: x-small;
        }
      }
    }
  }
  