<section class="posts-section py-5">
    <div class="container px-4">
        <div class="row justify-content-center mb-4">
            <div class="col-10 mb-3 mb-lg-0">
                <mat-card class="p-3 h-100 align-items-center justify-content-center shadow" appearance="outlined">
                    <mat-card-content class="w-100">
                        <div class="row mb-4">
                            <div class="col-12 mb-3 mb-lg-0">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="mb-4 text-gradient text-uppercase">
                                        <i-feather name="user" class="new-likes me-3"></i-feather>Profile Details
                                    </h5>
                                    <div>
                                        <Button type="button" class="btn-gradient border-0 rounded-5" mat-flat-button
                                            (click)="handleEditProfile()">Edit Profile</Button>
                                    </div>
                                </div>
                                <mat-card appearance="outlined" class="w-100 inner-card p-2 mb-4">
                                    <mat-card-content class="text-center py-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <!-- <circle-progress [percent]="profileDetails?.profileProgress"
                                                    [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                                                    [outerStrokeColor]="'#005cbb'" [innerStrokeColor]="'#d7e3ff'"
                                                    [animation]="true" [animationDuration]="300"></circle-progress> -->
                                                <div class="image-container rounded-3">
                                                    <img class="h-100 w-100 rounded-3"
                                                        [src]="profileDetails?.profilePhoto || 'avtar.avif'"
                                                        alt="avtar">
                                                </div>
                                            </div>

                                            <div class="col-7">
                                                <!-- <div class="position-relative">
                                                    <div class="image-container rounded-3">
                                                        <img class="h-100 w-100 rounded-3"
                                                            [src]="profileDetails?.profilePhoto || 'avtar.avif'"
                                                            alt="avtar">
                                                    </div>
                                                </div> -->
                                                <mat-card appearance="outlined" class="w-100 inner-card p-3">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col-6">
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>person</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.firstName}}
                                                                        {{profileDetails?.lastName}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>mail</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.email}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>local_phone</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.mobile}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>cake</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span class="text-preference">{{profileDetails?.dob
                                                                        | date}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>cake</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.religion}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>cake</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.gender}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>location_on</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.country}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center mb-2">
                                                                <div class="col-2">
                                                                    <mat-icon>favorites</mat-icon>
                                                                </div>
                                                                <div class="col-10 text-start">
                                                                    <span
                                                                        class="text-preference">{{profileDetails?.likes}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-card>
                                            </div>
                                        </div>


                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <div class="col-12">
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-7 col-xl-8 mb-3 mb-lg-0">
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-content>
                                                <p class="mb-2 text-secondary">I spend my free time…</p>
                                                <h6 class="">
                                                    I like traveling, reading, eating and shopping
                                                </h6>
                                            </mat-card-content>
                                            <mat-card-footer class="text-end pe-2 pb-2">
                                                <button mat-mini-fab>
                                                    <i-feather name="heart" class=""></i-feather>
                                                </button>
                                            </mat-card-footer>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    Interests and Hobbies
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.interestsAndHobbies; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('Interests and Hobbies')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    Sports
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.sports; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('Sports')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <div class="row mb-3">
                                            <div class="col-6"
                                                *ngFor="let image of profileDetails.otherPhotos; let i = index">
                                                <div class="all-image-container mb-2">
                                                    <img class="h-100 w-100" [src]="image" [alt]="'Image ' + (i + 1)">
                                                </div>
                                            </div>
                                        </div>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    Travelling
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.travelling; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('Travelling')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    Foods and Drinks
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.foodAndDrink; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('Food and Drinks')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    character And Traits
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.characterAndTraits; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('Character And Traits')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card p-1 mb-3">
                                            <mat-card-header>
                                                <h6 class="text-uppercase text-secondary">
                                                    Life Style
                                                </h6>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <mat-chip-set aria-label="Fish selection">
                                                    @for (item of otherDetails.userDetails.lifeStyle; track
                                                    $index) {
                                                    <mat-chip>{{item}}</mat-chip>
                                                    }
                                                    <mat-chip (click)="onClickAdd('lifeStyle')">
                                                        Add
                                                        <img matChipAvatar
                                                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                                            alt="Shiba Inu" />
                                                    </mat-chip>
                                                </mat-chip-set>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-12 col-lg-5 col-xl-4">
                                        <mat-card appearance="outlined" class="w-100 mb-3 inner-card bg-dark p-3 d-none">
                                            <mat-card-header>
                                                <h4 class="mb-4 text-primary text-center">
                                                    What makes you compatible?
                                                </h4>
                                            </mat-card-header>
                                            <mat-card-content class="px-0 d-flex flex-column gap-2">
                                                <div class="d-flex"
                                                    *ngFor="let image of profileDetails.otherPhotos; let i = index">
                                                    <div class="profile-container me-2">
                                                        <img class="h-100 w-100" [src]="image"
                                                            [alt]="'Image ' + (i + 1)">
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                        <mat-card appearance="outlined" class="w-100 inner-card bg-dark p-2">
                                            <mat-card-content class="py-0">
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon px-0">favorite</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Gender</p>
                                                        <h5>{{profileDetails.gender}}</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon"> location_on</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">City of residence</p>
                                                        <h5>{{profileDetails.country}}</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            fill="#005cbb" class="bi bi-person-standing"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0" />
                                                        </svg>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Body type</p>
                                                        <h5>{{bodyType}}</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">flag</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Ethnicity</p>
                                                        <h5>Indian</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">school</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Highest degree</p>
                                                        <h5>University/college degree(s)</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">language</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Languages</p>
                                                            @for (item of otherDetails.userDetails.languages; track $index) {
                                                                <h6 class="mb-0">{{item}}</h6>
                                                            }
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">smoke_free</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Smoking habits</p>
                                                        <h5>Non-smoker</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <i-feather name="heart"
                                                            class="feather-icon me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8 mb-0 ps-0">
                                                        <p class="mb-0 text-secondary">Alcohol habits</p>
                                                        <h5>Occasionally</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">fitness_center</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Workout frequency</p>
                                                        <h5>Several times a week</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <i-feather name="heart"
                                                            class="feather-icon me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Marital status</p>
                                                        <h5>{{profileDetails.maritalStatus | titlecase}}</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">child_care</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Children</p>
                                                        <h5>No children</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box">
                                                    <div class="col-4">
                                                        <mat-icon class="mat-icon">child_friendly</mat-icon>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Wish for children</p>
                                                        <h5>Yes, I want children</h5>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center mb-2 detail-box ">
                                                    <div class="col-4">
                                                        <i-feather name="star"
                                                            class="feather-icon me-2"></i-feather>
                                                    </div>
                                                    <div class="col-8 ps-0">
                                                        <p class="mb-0 text-secondary">Religion</p>
                                                        <h5>{{profileDetails.religion}}</h5>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>