<section class="messages-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <mat-card appearance="raised" class="w-100 shadow p-3 mt-3 ps-0">
                    <!-- <mat-card-header>
                        <h5 class="text-gradient">Messages</h5>
                    </mat-card-header> -->
                    <mat-card-content class="ps-0">
                        <div class="row mb-5 justify-content-between ">
                            <div class="col-12 col-md-5 pe-0">
                                <h5 class="text-gradient text-start ps-4">Messages</h5>
                                <div class="subscription-card py-3" [routerLink]="['/subscriptions']">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h5>Unlock all features</h5>
                                            <p class="mb-0">with select Premium Memberships</p>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-card appearance="outlined" class="w-100 h-100 inner-sub-card border-0">
                                                <mat-card-content
                                                    class="h-100 d-flex align-items-center justify-content-center">
                                                    <h1 class="d-flex align-items-center ">35% <h2 class="mb-0 ms-2">
                                                            off</h2>
                                                    </h1>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-4 px-5 text-center">
                                <div class="mb-4 svg-comtainer mx-auto">
                                    <img class="h-100 w-100" src="rocket.svg" alt="">
                                </div>
                                <h4 class="fw-semibold mb-3">Keep going!</h4>
                                <p class="text-secondary mb-5">
                                    After completing your profile, take the first step and reach out to someone you
                                    like.
                                </p>
                                <button class="btn-gradient" mat-flat-button [routerLink]="['/discover']">Let's
                                    Go</button>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-7 mb-4">
                                <div class="d-flex align-items-center">
                                    <i-feather name="alert-circle" class="me-2"></i-feather>
                                    <p class="text-start mb-0 lh-sm">Here are all the Messages with your Matches. You
                                        can find requests that you have sent in the Likes section.</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</section>