<section class="messages-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <mat-card appearance="raised" class="w-100 shadow p-3 mt-3 ps-0">
                    <!-- <mat-card-header>
                        <h5 class="text-gradient">Messages</h5>
                    </mat-card-header> -->
                    <mat-card-content class="ps-0">
                        <div class="row mb-3 justify-content-between ">
                            <div class="col-12 col-md-5 pe-0">
                                <h5 class="text-gradient text-start ps-4">Messages</h5>
                                <div class="subscription-card py-3 mb-4" [routerLink]="['/subscriptions']">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h5>Unlock all features</h5>
                                            <p class="mb-0">with select Premium Memberships</p>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-card appearance="outlined" class="w-100 h-100 inner-sub-card border-0">
                                                <mat-card-content
                                                    class="h-100 d-flex align-items-center justify-content-center">
                                                    <h1 class="d-flex align-items-center ">35% <h2 class="mb-0 ms-2">
                                                            off</h2>
                                                    </h1>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    @for (room of rooms; track room) {
                                    <div class="room-container d-flex col-md-8 align-items-center"
                                        (click)="selectRoom(room)">
                                        <ng-container *ngIf="user._id == room.createdWith._id; else elseBlock">
                                            <div class="profile-container me-3 col-md-2">
                                                <img [src]="room?.createdBy?.profilePhoto || 'avtar.avif'" alt="">
                                            </div>
                                            <div class="w-100">
                                                <h5 class="mb-0">{{ room.createdBy.firstName }} {{
                                                    room.createdBy.lastName }}</h5>
                                                <p class="mb-0 w-75 text-truncate">{{room?.chat[0]?.message}}</p>
                                            </div>
                                        </ng-container>
                                        <ng-template #elseBlock>
                                            <div class="profile-container me-3">
                                                <img [src]="room?.createdWith?.profilePhoto || 'avtar.avif'" alt="">
                                            </div>
                                            <div class="w-100">
                                                <h5 class="mb-0">{{ room.createdWith.firstName }} {{
                                                    room.createdWith.lastName }}</h5>
                                                <p class="mb-0 w-75 text-truncate">{{room?.chat[0]?.message}}</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                    }
                                </div>
                            </div>
                            @if(messages.length===0) {
                            <div class="col-12 col-md-6 mb-4 px-5 text-center">
                                <div class="mb-4 svg-comtainer mx-auto">
                                    <img class="h-100 w-100" src="rocket.svg" alt="">
                                </div>
                                <h4 class="fw-semibold mb-3">Keep going!</h4>
                                <p class="text-secondary mb-5">
                                    After completing your profile, take the first step and reach out to someone you
                                    like.
                                </p>
                                <button class="btn-gradient" mat-flat-button [routerLink]="['/discover']">Let's
                                    Go</button>
                            </div>
                            }
                            @if(messages.length>0) {
                            <div class="col-12 col-md-7 ps-4">
                                <div class="messages-header bg-gradient-up d-flex align-items-center">
                                    <div class=" profile-container me-3">
                                        <img [src]="currentReceiver?.profilePhoto || 'avtar.avif'" alt="">
                                    </div>
                                    <div>
                                        <h5 class="mb-0">{{ currentReceiver.firstName }} {{
                                            currentReceiver.lastName }}</h5>
                                    </div>
                                </div>
                                <div class="messages-container px-2" #messagesContainer>
                                    @for (msg of messages; track msg) {
                                    <div class="inner-message-container d-flex"
                                        [ngClass]="user._id === msg.senderId?'justify-content-end right-message':'justify-content-start left-message'">
                                        <div class="message-container">
                                            <p>{{ msg?.message }}</p>
                                            <small class="mb-0">{{msg.timestamp | date:'shortTime'}}</small>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                            }
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        @if(messages.length>0) {
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-7 px-3">
                                <mat-form-field appearance="outline" class="example-full-width w-100"
                                    style="border-color: #005cbb !important;">
                                    <input matInput maxlength="256" [(ngModel)]="message" placeholder="Message"
                                        (keyup.enter)="sendNewMessage()">
                                    <button class="me-2" mat-icon-button matSuffix (click)="sendNewMessage()">
                                        <mat-icon>send</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        }
                        @if(messages.length===0) {
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-7 mb-4">
                                <div class="d-flex align-items-center">
                                    <i-feather name="alert-circle" class="me-2"></i-feather>
                                    <p class="text-start mb-0 lh-sm">Here are all the Messages with your Matches. You
                                        can find requests that you have sent in the Likes section.</p>
                                </div>
                            </div>
                        </div>
                        }
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</section>