.home {
    background-image: url('./../../../../public/file.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .card {
        background-color: rgba(215, 227, 255, 0.3);
        z-index: 2;
        color: #d7e3ff;

    }

}

:host::ng-deep .mat-internal-form-field>label {
    color: #d7e3ff;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #d7e3ff;
}

:host::ng-deep .mat-mdc-radio-button:hover .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #d7e3ff;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #d7e3ff;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #d7e3ff !important;
}

:host::ng-deep .mat-mdc-radio-button:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #d7e3ff !important;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #d7e3ff !important;
}

.what-you-get{
    
}