@import '../../../styles/theme.scss';

.home {
    background-image: url('./../../../../public/file.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .card {
        background-color: rgba(215, 227, 255, 0.3);
        z-index: 2;
        color: $accent-color;

    }

}

:host::ng-deep .mat-internal-form-field>label {
    color: $accent-color;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $accent-color;
}

:host::ng-deep .mat-mdc-radio-button:hover .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $accent-color;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $accent-color;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $accent-color !important;
}

:host::ng-deep .mat-mdc-radio-button:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $accent-color !important;
}

:host::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: $accent-color !important;
}

.what-you-get {
    .image-container {
        height: 75px;
        width: 75px;
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .material-icons {
            font-size: 35px;
            color: $accent-color;
            height: 35px;
            width: 35px;
        }

        .mat-icon {
            height: 35px;
            width: 35px;
        }
    }

    .card {
        .card-body {
            transition: transform 0.6s ease;
        }

        &:hover {
            .card-body {
                transform: scale(1.1);
            }

            .image-container {
                background-color: $accent-color;

                .material-icons {
                    color: $primary-color;
                }
            }

            // background-color: #d7e3ff;
            animation: backgroundAnimation 1s forwards;
        }
    }
}

@keyframes backgroundAnimation {
    0% {
        background-color: #ffffff;
    }

    100% {
        background-color: $accent-color;
        color: $primary-color;
    }
}

.marriage-stories {
    .profile-container {
        height: 250px;
        width: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        img {
            transition: transform 0.6s ease;
            object-fit: cover;
            border-radius: 50%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.about-us {
    background: $gradient-background;

    .about-us-image {
        // background-image: url('../../../../public/about-us.jpg');
        height: 500px;
        width: 400px;
        border-radius: 40%;

        img {
            border-radius: 40%;
            border: 10px solid $light-grey-color;
            object-fit: cover;
        }
    }

    p {
        font-weight: 500;
    }

    ul {
        list-style: none;
        padding-left: 0px;
        font-weight: 500;
    }
}

:host::ng-deep .mdc-evolution-chip-set__chips {
    justify-content: center;
}

.browse-your-choice {
    background: $gradient-background-right;
}