<section class="home">
    <div class="row justify-content-end align-items-center h-100 mx-auto">
        <div class="col-md-10 col-lg-7 col-xl-5 user-form">
            <div class="card p-3 border-0 shadow">
                <div class="card-body">
                    <h4 class="card-title">Your Life Partner</h4>
                    <h6 class="card-subtitle mb-2">Just few click away</h6>
                    <div class="mb-3">
                        <h6 class="mb-1">Looking For :</h6>
                        <mat-radio-group>
                            <mat-radio-button class="" value="bride">Bride</mat-radio-button>
                            <mat-radio-button class="" value="groom">Groom</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="mb-2">
                        <h6 class="mb-3">Age For Partner :</h6>
                        <mat-form-field class="me-3">
                            <mat-label>From(YYYY)</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                @for (a of age; track a) {
                                <mat-option [value]="a">{{a}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>From(YYYY)</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                @for (a of age; track a) {
                                <mat-option [value]="a">{{a}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button class="px-5" mat-flat-button>Search</button>
                </div>
                <!-- <div class="card-body">
                    <h4 class="card-title">Create Your Account</h4>
                    <Form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <mat-form-field class="me-3">
                                <mat-label>Select On Behalf Of</mat-label>
                                <mat-select formControlName="profileFor" name="onBehalfOf" required>
                                    @for (item of onBehalfOf; track item) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="John" formControlName="firstname" required>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Doe" formControlName="lastname" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender" name="gender" required>
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            @if(isEmail){
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="email" formControlName="email" required>
                            </mat-form-field>
                            } @else {
                            <mat-form-field>
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                            </mat-form-field>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="*****" type="password" formControlName="password"
                                        required>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-label>Confirm password</mat-label>
                                    <input matInput placeholder="*****" type="password" formControlName="confirmPassword"
                                        onchange="onChnageConfirmPassword($event)" required>
                                        <mat-error *ngIf="isPasswordMismatch()">Passwords do not match</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field class="me-3">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country" name="country" required>
                                        @for (item of countries; track item) {
                                        <mat-option [value]="item">{{item}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field class="me-3">
                                    <mat-label>Religion</mat-label>
                                    <mat-select formControlName="religion" name="religion" required>
                                        @for (item of countries; track item) {
                                        <mat-option [value]="item">{{item}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="me-3">
                                    <mat-label>Mother Tongue</mat-label>
                                    <input matInput placeholder="Mother Tongue" type="text" formControlName="motherTongue"
                                        required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button class="px-5" mat-flat-button type="submit">Submit</button>
                        </div>
                    </Form>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="what-you-get py-5">
    <div class="row mx-auto justify-content-center">
        <h3 class="fw-bold text-center mb-5">What you get</h3>
        <div class="col-xl-9 mt-4">
            <div class="row">
                <div *ngFor="let data of whatYouGet" class="col-12 col-md-4 text-center mb-3 mb-lg-0">
                    <div class="card shadow border-0 p-3 h-100">
                        <div class="card-body">
                            <div class="image-container mb-3 mx-auto">
                                <mat-icon>{{data.image}}</mat-icon>
                            </div>
                            <h5>{{data.title}}</h5>
                            <p>{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="marriage-stories py-5">
    <div class="row  mx-auto justify-content-center">
        <h3 class="fw-bold text-center mb-5">Marriage Stories That Inspires</h3>
        <div class="col-xl-9 mt-4">
            <div class="row justify-content-center">
                @for (story of marriageStories; track story; let i = $index) {
                <div class="col-8 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <div class="profile-container shadow mb-2 mb-md-3">
                        <img class="h-100 w-100 shadow" [src]="story.image" alt="">
                    </div>
                    <h5 class="text-center">{{story.brideName}} - {{story.groomName}}</h5>
                </div>
                }

            </div>
        </div>
    </div>
</section>

<section class="about-us py-5">
    <div class="row mx-auto justify-content-center pb-5">
        <h3 class="fw-bold text-center mb-5">About Us</h3>
        <div class="col-md-11 mt-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="about-us-image mx-auto">
                        <img src="about-us.jpg" class="h-100 w-100" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        About us is a wedding planning company that helps couples plan their dream wedding. We have a
                        team of experienced wedding planners who will work with you to create a customized wedding plan
                        that suits your style and budget. Our team will take care of all the details, from venue
                        selection to catering and decorations, so you can focus on enjoying your special day.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit harum veritatis sit expedita
                        nesciunt recusandae ipsa ipsam repellendus a labore qui nam reiciendis quia aliquid
                        consequuntur, nemo, consequatur, ratione soluta.Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Velit harum veritatis sit expedita
                        nesciunt recusandae ipsa ipsam repellendus a labore qui nam reiciendis quia aliquid
                        consequuntur, nemo, consequatur, ratione soluta.
                    </p>
                    <ul>
                        @for (about of aboutUs; track about;){
                        <li class="d-flex align-items-center mb-2">
                            <mat-icon class="me-2">label_important</mat-icon>
                            {{about}}
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="register-now py-5">
    <div class="row mx-auto justify-content-center py-3">
        <div class="col-md-9">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 mb-4 mb-lg-0 text-center text-lg-start">
                    <h2 class="fw-semibold">It is perfect time for perfect match</h2>
                    <h5>Join largest matrimony platform today!</h5>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <button class="shadow px-5" routerLink="/register" mat-flat-button>Register Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="browse-your-choice py-5">
    <div class="row mx-auto justify-content-center pb-5">
        <h3 class="fw-bold text-center mb-5">Browse your Choice</h3>
        <div class="col-md-11">
            <div class="row justify-content-center align-items-center">
                <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Browse your choice"
                    (selectionChange)="onSelectionChange($event)">
                    <ng-container *ngFor="let category of choicesCatecories; trackBy: trackCategory">
                        <mat-chip-option class="me-2 w-auto" [value]="category">{{category.name}}</mat-chip-option>
                    </ng-container>
                </mat-chip-listbox>
                <!-- <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Browse your choice">
                    @for (choice of category.choices; track choice) {
                    <mat-chip-option class="me-2 w-auto">{{choice}}</mat-chip-option>
                    }
                </mat-chip-listbox> -->
            </div>
        </div>
    </div>
</section>