@import './../../../styles/theme.scss';

.posts-section {
    .text-preferences:hover {
        color: $grey;
        text-decoration: underline;
        cursor: pointer;
    }

    .new-likes {
        color: $primary-color;
        fill: $primary-color;
        height: 20px;
        width: 20px;
    }

    p {
        font-size: 20px;
    }

    .text-preference {
        font-size: 17px;
    }

    .prefix-i-feather {
        margin: 0 12px;
    }

    .infinite-scroll-container {
        min-height: 60vh;
    }

    @media (max-width: 768px) {
        .infinite-scroll-container {
            min-height: 40vh;
        }
    }
}