@import './../../../styles/theme.scss';

.posts-section {
    .text-preferences:hover {
        color: $grey;
        text-decoration: underline;
        cursor: pointer;
    }

    .inner-card {
        border: 7px solid $accent-color;
    }

    .new-likes {
        color: $primary-color;
        fill: $primary-color;
        height: 20px;
        width: 20px;
    }

    .big-heart {
        color: $accent-color;
        fill: $accent-color;
        height: 70px;
        width: 70px;
    }

    p {
        font-size: 20px;
    }

    .text-preference {
        font-size: 17px;
    }

    .prefix-i-feather {
        margin: 0 12px;
    }

    .link-text {
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
        text-decoration: none;

        .material-icons {
            line-height: unset;
        }
    }

    .profile-container {
        height: 500px;
        overflow: hidden;
    }

    .blur-image {
        filter: blur(8px);
        transition: filter 0.3s ease;
    }

    // .profile-container:hover .blur-image {
    //     filter: blur(0);
    // }

    .top-overlay-content {
        position: absolute;
        top: 3%;
        left: 5%;
        color: white;
        text-align: center;
        z-index: 1;
        padding: 5px 15px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.6);
    }

    .overlay-content {
        position: absolute;
        top: 87%;
        left: 34%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: start;
        z-index: 1;
    }

    .overlay-content i {
        font-size: 24px;
        display: block;
        margin-bottom: 8px;
    }
}