<section class="posts-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <mat-tab-group #tabGroup>
                    <mat-tab label="Discover">
                        <mat-card appearance="raised" class="w-100 shadow p-3 mt-3">
                            <mat-card-header>
                                <div class="d-flex w-100 justify-content-between mb-4">
                                    <h5 class="text-gradient">Discover | {{totalItems}}</h5>
                                    <button class="btn-gradient" mat-flat-button (click)="onRefresh()">Refresh</button>
                                </div>
                            </mat-card-header>
                            <mat-card-content class="text-center">
                                <div class="row mb-5">
                                    <div class="col-sm-12 mb-3 mb-lg-0">
                                        @if(userProfileswithProfileMatching && userProfileswithProfileMatching.length >
                                        0){
                                        <div class="row">
                                            @for (profile of userProfileswithProfileMatching |
                                            paginate:{itemsPerPage:itemsPerPage,currentPage:page,totalItems}; track
                                            profile) {
                                            <div class="col-lg-4 col-12 col-md-6 mb-4"
                                                [routerLink]="['/profile',profile._id]">
                                                <app-profile-card [profile]="profile" />
                                            </div>
                                            }
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="ms-4"> Select Items per Page :
                                                <select class="custom-select" [(ngModel)]="itemsPerPage"
                                                    (change)="onChangeItems()">
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <div *ngFor="let item of pagedItems">
                                                {{ item.name }}
                                            </div>
                                            <div class="pagination me-4">
                                                <pagination-controls [responsive]="true" [autoHide]="true"
                                                    (pageChange)="onPageChange(page = $event)"></pagination-controls>
                                            </div>
                                        </div>
                                        } @else {
                                        <div class="col-12 col-md-12 mx-auto mb-4">
                                            <div class="mb-4">
                                                <i-feather name="star" class="big-heart"></i-feather>
                                            </div>
                                            <h5>No members found</h5>
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-6 mb-3 mb-lg-0">
                                        <mat-card appearance="outlined" class="w-100 inner-card p-3">
                                            <mat-card-header>
                                                <h5 class="mb-4 text-gradient  text-uppercase">
                                                    Member Preferences
                                                </h5>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <mat-icon>cake</mat-icon>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">from {{filterParams.minAge || 18}}
                                                            to {{filterParams.maxAge||32}} years old</span>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <mat-icon> location_on</mat-icon>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">Height form
                                                            {{filterParams.minHeight || '5.0'}} ft to
                                                            {{filterParams.maxHeight || '6.3'}} ft</span>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <mat-icon>smoke_free</mat-icon>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">{{filterParams.smoking || "Non smoker"}}</span>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <mat-icon>child_care</mat-icon>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">Has children?
                                                            <span>{{filterParams.childrens || "No"}}</span></span>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <mat-icon>child_friendly</mat-icon>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">Do you want children?
                                                            <span>{{filterParams.wishForChildren || "No"}}</span></span>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-globe-central-south-asia"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z" />
                                                        </svg>
                                                    </div>
                                                    <div class="col-10 text-start">
                                                        <span class="text-preference">Religion: {{filterParams.religion
                                                            || "Any"}}</span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-footer class="p-3">
                                                <div class="text-center">
                                                    <button class="btn-gradient w-100"
                                                        (click)="onOpenPreferenceModal(preferenceModal)"
                                                        mat-flat-button>Change Member
                                                        Preferences</button>
                                                </div>
                                            </mat-card-footer>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <mat-card appearance="outlined" class="w-100 inner-card p-3">
                                            <mat-card-header>
                                                <h5 class="mb-4 text-gradient text-uppercase">
                                                    Filter Members According to Interests
                                                </h5>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div class="mb-2">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-icon matPrefix>music_note</mat-icon>
                                                        <mat-select placeholder="No selection made">
                                                            @for (m of music; track m) {
                                                            <mat-option [value]="m">{{m}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="mb-2">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <i-feather class="prefix-i-feather" name="dribbble"
                                                            matPrefix></i-feather>
                                                        <mat-select placeholder="No selection made">
                                                            @for (s of sports; track s) {
                                                            <mat-option [value]="s">{{s}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="mb-2">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-icon matPrefix>airplanemode_active</mat-icon>
                                                        <mat-select placeholder="No selection made">
                                                            @for (t of trips; track t) {
                                                            <mat-option [value]="t">{{t}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <ng-template #preferenceModal let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Search Preferences</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <form [formGroup]="filterForm" (ngSubmit)="onApplyFilter(filterForm.value)">
                                <div class="modal-body">
                                    <div class="row g-3">
                                        <!-- Age Range -->
                                        <div class="col-md-6">
                                            <label class="form-label">Age Range</label>
                                            <div class="input-group">
                                                <select type="number" name="minAge" class="form-select" id="minAge"
                                                    formControlName="minAge">
                                                    <option value="" selected disabled>Min Age</option>
                                                    <option *ngFor="let age of minAgeOptions" [value]="age">
                                                        {{age}}</option>
                                                </select>
                                                <span class="input-group-text">-</span>
                                                <select type="number" name="maxAge" class="form-select" id="maxAge"
                                                    formControlName="maxAge">
                                                    <option value="" selected disabled>Max Age</option>
                                                    <option *ngFor="let age of maxAgeOptions" [value]="age">
                                                        {{age}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Height Range -->
                                        <div class="col-md-6">
                                            <label class="form-label">Height (cm)</label>
                                            <div class="input-group">
                                                <select name="minHeight" class="form-select" id="minHeight"
                                                    formControlName="minHeight">
                                                    <option value="" selected disabled>min Height</option>
                                                    <option *ngFor="let height of minHeightOptions" [value]="height">
                                                        {{height}}</option>
                                                </select>
                                                <span class="input-group-text">-</span>
                                                <select name="maxHeight" class="form-select" id="maxHeight"
                                                    formControlName="maxHeight">
                                                    <option value="" selected disabled>Max Height</option>
                                                    <option *ngFor="let height of maxHeightOptions" [value]="height">
                                                        {{height}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Children -->
                                        <div class="col-md-6">
                                            <label class="form-label">Childrens</label>
                                            <select class="form-select" formControlName="childrens" name="childrens">
                                                <option selected disabled value="">Select one</option>
                                                <option value="yes">Has Childrens</option>
                                                <option value="no">No Children</option>
                                            </select>
                                        </div>

                                        <!-- Wish for Children -->
                                        <div class="col-md-6">
                                            <label class="form-label">Wish for Children</label>
                                            <select class="form-select" formControlName="wishForChildren"
                                                name="wishForChildren">
                                                <option selected disabled value="">Select one</option>
                                                <option value="yes">Wants Children</option>
                                                <option value="no">Does Not Want</option>
                                            </select>
                                        </div>

                                        <!-- Smoking -->
                                        <div class="col-md-6">
                                            <label class="form-label">Smoking</label>
                                            <select class="form-select" formControlName="smoking" name="smoking">
                                                <option selected disabled value="">Select one</option>
                                                <option value="non-smoker">Non-smoker</option>
                                                <option value="smoker">Smoker</option>
                                            </select>
                                        </div>

                                        <!-- Religion -->
                                        <div class="col-md-6">
                                            <label class="form-label">Religion</label>
                                            <select class="form-select" formControlName="religion" name="religion">
                                                <option selected disabled value="">Select one</option>
                                                <option *ngFor="let religion of religionOptions" [value]="religion">
                                                    {{religion}}</option>
                                            </select>
                                        </div>

                                        <!-- Education -->
                                        <div class="col-md-6">
                                            <label class="form-label">Education</label>
                                            <select class="form-select" formControlName="education" name="education">
                                                <option selected disabled value="">Select one</option>
                                                <option *ngFor="let education of educationOptions" [value]="education">
                                                    {{education}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark"
                                        (click)="modal.dismiss('Cross click')">Cancel</button>
                                    <button type="submit" [disabled]="filterForm.invalid"
                                        class="btn btn-dark">Apply</button>
                                </div>
                            </form>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Favorites">
                        <app-favorites />
                    </mat-tab>
                    <mat-tab label="Visitors to My Profile">
                        <app-visitors />
                    </mat-tab>
                    <mat-tab label="Profiles I have visited">
                        <app-visited-profiles />
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>