/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import './styles/theme.scss';


html,
body {
    height: 100%;
    // font-family: 'Times New Roman', Times, serif;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "Poppins", sans-serif;
    background-color: $light-grey-color;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.bg-light-blue {
    background-color: $accent-color !important;
}

.bg-gradient {
    background: $gradient-background;
    background-image: $gradient-background !important;
}

.bg-gradient-up {
    background: $gradient-background-top;
    background-image: $gradient-background-top !important;
}

.text-light-blue {
    color: $accent-color;
}

.text-primary {
    color: $primary-color;
}

.pointer {
    cursor: pointer;
}

// theme classes
.btn-purple {
    background: $light-grey-color !important;
    color: $primary-color !important;
    font-weight: 600 !important;
}

.btn-gradient {
    background: $gradient-background-right !important;
    padding: 10px 26px !important;
    font-size: 16px !important;
    height: 45px !important;
}

.text-gradient {
    background: $gradient-background-top;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big-heart {
    color: $accent-color !important;
    fill: $accent-color !important;
    height: 70px !important;
    width: 70px !important;
}

.big-mat-icon{
    font-size: 52px !important;
    height: 50px !important;
    width: 50px !important;
    color: $primary-color !important;
}

.inner-card {
    border: 7px solid $accent-color !important;
}

// navbar css
.navbar {
    background-color: $accent-color !important;
    position: fixed;
    width: 100%;
    z-index: 999;

    .logo-container {
        height: 70px;
        width: 70px;
        // background-color: #9D0000;
        background-color: lightgray;
        border-radius: 50%;

        img {
            object-fit: cover;
        }
    }

    .nav-item {
        font-weight: 500;
        padding: 0 15px;
        border-radius: 30px;

        .nav-link {
            color: $primary-color;
        }

        &:hover {
            background-color: $primary-color;

            .nav-link {
                color: $accent-color;
            }

            animation: backgroundAnimation 2s forwards;
        }
    }

    .avtar-container {
        height: 70px;
        width: 70px;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    @keyframes backgroundAnimation {
        0% {
            background-color: $accent-color;
        }

        100% {
            background-color: $primary-color;
        }
    }
}
.custom-menu{
    width: 220px;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    ul {
        list-style: none;
    }
}
/* Success Snackbar */
.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-snackbar-surface {
    background-color: #4caf50 !important;
    color: white !important;
}

/* Error Snackbar */
.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-snackbar-surface {
    background-color: #f44336 !important;
    color: white !important;
}

/* Info Snackbar */
.mat-mdc-snack-bar-container.info-snackbar .mat-mdc-snackbar-surface {
    background-color: #2196f3 !important;
    color: white !important;
}

.mat-mdc-form-field-error-wrapper {
    position: relative !important;
    top: -18px !important;
}
.mat-mdc-form-field, .mat-stepper-vertical, 
.mat-stepper-horizontal, .mdc-label,
.mat-mdc-chip-action-label, .mat-mdc-button,
.mat-mdc-form-field, .mat-mdc-option, .mat-mdc-select,
.mat-mdc-form-field-subscript-wrapper, .p-component,
.mat-mdc-unelevated-button, .mdc-list-item__primary-text,
.mat-mdc-tab, .mat-mdc-raised-button, .mat-mdc-menu-item-text,
.mdc-floating-label{
    font-family: "Poppins", sans-serif !important;
}