<section class="welcome-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="image-container shadow mx-auto rounded-5 mb-3">
                    <img class="h-100 w-100 shadow rounded-5" src="avtar.avif" alt="avtar">
                </div>
                <h3 class="text-center text-light-blue fw-semibold font-monospace mb-4">Hello There!!</h3>

                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-2">
                        <div class="icon-container mb-2 mx-auto" matTooltip="New Messages">
                            <mat-icon class="text-light-blue">chat_bubble</mat-icon>
                        </div>
                        <h6 class="text-light-blue text-center">0</h6>
                    </div>
                    <div class="col-2">
                        <div class="icon-container mb-2 mx-auto" matTooltip="New for you">
                            <mat-icon class="text-light-blue">group</mat-icon>
                        </div>
                        <h6 class="text-light-blue text-center">0</h6>
                    </div>
                    <div class="col-2">
                        <div class="icon-container mb-2 mx-auto" matTooltip="New Visitors">
                            <mat-icon class="text-light-blue"> contact_phone</mat-icon>
                        </div>
                        <h6 class="text-light-blue text-center">0</h6>
                    </div>
                    <div class="col-2">
                        <div class="icon-container mb-2 mx-auto" matTooltip="Profile">
                            <mat-icon class="text-light-blue">security</mat-icon>
                        </div>
                        <h6 class="text-light-blue text-center">50%</h6>
                    </div>
                    <div class="col-2">
                        <div class="icon-container mb-2 mx-auto">
                            <mat-icon class="text-light-blue">star_half</mat-icon>
                        </div>
                        <h6 class="text-light-blue text-center">SMS Verification</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="posts-section py-5">
    <div class="container px-4">
        <mat-card class="p-3 h-100 align-items-center justify-content-center shadow" appearance="outlined">
            <mat-card-content class="w-100">
                <div class="row mb-4">
                    <div class="col-8">
                        <mat-card appearance="outlined" class="w-100 inner-card h-100 p-3">
                            <mat-card-header>
                                <h5 class="mb-4 text-gradient">
                                    <i-feather name="heart" class="new-likes me-3"></i-feather>New For You
                                </h5>
                            </mat-card-header>
                            <mat-card-content class="text-center">
                                <div class="mb-4">
                                    <i-feather name="heart" class="big-heart"></i-feather>
                                </div>
                                <p class="text-gradient">Here you'll see members who have contacted or liked you first.
                                    Nothing new today?
                                    Instead, take the first step and message someone now.</p>
                            </mat-card-content>
                            <mat-card-footer class="mt-5 p-3">
                                <div class="text-end">
                                    <button class="btn-gradient" mat-flat-button>Reach Out</button>
                                </div>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                    <div class="col-4">
                        <mat-card appearance="outlined" class="w-100 inner-card h-100  p-3">
                            <mat-card-header>
                                <h5 class="mb-4 text-gradient">
                                    First steps
                                </h5>
                            </mat-card-header>
                            <mat-card-content class="text-center">
                                <div class="mb-4">
                                    <img src="boost.svg" alt="">
                                </div>
                                <p class="text-gradient">
                                    Congratulations, the journey for your next relationship begins now. Scroll through
                                    our expert tips and dating advice to get started.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <mat-card appearance="outlined" class="w-100 inner-card h-100 p-3">
                            <mat-card-header>
                                <h5 class="mb-4 text-gradient">
                                    <i-feather name="heart" class="new-likes me-3"></i-feather>New likes
                                </h5>
                            </mat-card-header>
                            <mat-card-content class="text-center">
                                <div class="mb-4">
                                    <i-feather name="heart" class="big-heart"></i-feather>
                                </div>
                                <p class="text-gradient">Here you'll see members who have contacted or liked you first.
                                    Nothing new today?
                                    Instead, take the first step and message someone now.</p>
                            </mat-card-content>
                            <mat-card-footer class="mt-5 p-3">
                                <div class="text-end">
                                    <button class="btn-gradient" mat-flat-button>Reach Out</button>
                                </div>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                    <div class="col-4">
                        <mat-card appearance="outlined" class="w-100 inner-card h-100  p-3">
                            <mat-card-header>
                                <h5 class="mb-4 text-gradient">
                                    First steps
                                </h5>
                            </mat-card-header>
                            <mat-card-content class="text-center">
                                <div class="mb-4">
                                    <img src="boost.svg" alt="">
                                </div>
                                <p class="text-gradient">
                                    Congratulations, the journey for your next relationship begins now. Scroll through
                                    our expert tips and dating advice to get started.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>